<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Administración de productos</h1>
        <p class="">Alta, baja y modificación de productos</p>
        <p><a href="/productos/alta" class="btn btn-primary my-2">Registrar nuevo producto</a></p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {{#each productos}}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{this.imagen}}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">{{this.nombre}}</h4>
                            <p class="card-text">{{this.descripcion}}</p>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12 col-xl-6">
                                    <p class="lead">
                                        ${{this.precio}}</p>
                                </div>
                                <div class="col-xs-12 col-md-12 col-lg-12 col-xl-6">
                                    <form action='/productos/baja' method='POST'>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/productos/editar/{{this.id}}'">Editar</button>
                                        <input type="hidden" name="codigo" value="{{this.id}}">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary">Borrar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}            
        </div>
    </div>
</div>